.DS_Store

# Idea
.idea/
*.iml
*.ipr

# Eclipe
.project
.classpath

# Java
*.class

# Grails
grails-list-dependency-versions-*.zip
grails-list-dependency-versions-*.zip.sha1
plugin.xml
target
web-app
